body {
    background-color: black;
    color: white;
}

.border {
    border: 2px solid red;
}

.flex {
    display: flex;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}
