body {
    /* background-color: purple;
    color: white; */
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

.home ul li {
    list-style: none;
    width: 34px;
    display: flex;
    gap: 11px;

}
